#titulo-principal{
    color: rgb(40, 90, 44);
    text-align: center;
    font-size: 70px;
}
h2{
    color: rgb(36, 118, 43);
    text-align: center;
}
.texto-principal{
    text-align: justify;
    color: rgb(109, 23, 23);
}

.texto-2{
    text-align: justify;
}

body{
    background-color:  rgb(158, 153, 153);
}