#titulo-principal{
    color: darkcyan;
    text-align: center;
    font-size: 40px;
}
h2{
    color: rgb(40, 90, 44);
    text-align: center;
}
.texto-principal{
    text-align: justify;
}
body{
    background-color:  rgb(158, 153, 153);
}